---
import Layout from '../layouts/Layout.astro';
import Wrapper from "../components/Wrapper.astro";
---

<Layout>
    <Wrapper>
        <div class="card__container">
            <section class="card__content">
                <h2 class="card__heading">Work Experience</h2>
                <p class="card__body">
                    Volunteered for one year in a research lab focused on developing a medical device to treat vaginal
                    stenosis. Designed and implemented the user interface (UI) for embedded systems, ensuring seamless
                    functionality across both mobile and desktop platforms.
                </p>
            </section>

            <section class="card__content">
                <h2 class="card__heading">Education</h2>
                <p class="card__body">
                    Bachelor of Science in Computer Science - UC San Diego<br>
                    Pasadena City College
                </p>
            </section>
        </div>
    </Wrapper>
</Layout>
