---
import Layout from '../layouts/Layout.astro';
import Wrapper from "../components/Wrapper.astro";
---

<Layout>
    <Wrapper>
        <section class="card__content">
            <h2 class="card__heading">Technology</h2>
            <ul class="card__body">
                <li><em>C++</em></li>
                <li>HTML5, CSS3, JavaScript</li>
                <li><em>React</em></li>
                <li>Node.js, Express</li>
                <li>Git, GitHub</li>
            </ul>
        </section>
    </Wrapper>
</Layout>
