@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Sora:wght@100..800&display=swap');

:root {
    font-family: "Sora", sans-serif;
    font-size: 16px;

    --background: #23232b;
    --text-color: white;
    --primary-color: #ff7a00;
    --secondary-color: #d7d7e2;
    --accent-color: #7678ed;

    --warning-red: #e44428;
    --warning-yellow: #faaf14;
}

/*.dark-mode {*/
/*    --background: #1e2530;*/
/*    --text-color: #e3e9ed;*/
/*    --dark-primary: #ff7a00;*/
/*    --secondary-color: #212830;*/
/*    --dark-accent: #7678ed;*/
/*}*/

/*.dark-mode footer {*/
/*    background-color: var(--secondary-color);*/
/*    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.2);*/
/*}*/

/*.dark-mode .card__content {*/
/*    background-color: rgba(50, 58, 68, 0.7);*/
/*    box-shadow: 2px 10px 8px -1px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.dark-mode .contact-form {*/
/*    background-color: rgba(50, 58, 68, 0.7);*/
/*    box-shadow: 2px 10px 8px -1px rgba(0, 0, 0, 0.5);*/
/*}*/

/* BASIC STYLING */

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* HEADINGS & TEXT */

body {
    color: var(--text-color);
}

h1 {
    font-size: 3em;
    width: fit-content;
}

h2 {
    font-size: 1.8em;
    font-weight: 500;
    width: fit-content;
}

p {
    font-size: 1.1rem;
    text-align: center;
    padding: 0.2em;
}

a {
    color: #645c5b;
    text-decoration: none;
    padding: 0.2em;
}

a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

body {
    width: 100%;
    background-color: var(--background);
}

footer {
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
}

/* NAVBAR STYLING */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background);
    padding: 0.5rem 0;
    position: relative;
}

/* gradient bar beneath the navbar*/
.navbar::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    padding: 0.5rem;
    background-color: #c8cffd;
    background-image: linear-gradient(275deg, #6d98ea 0%, #ef956a 100%);
}

.navbar__logo {
    justify-self: flex-start;
    margin: 2.2rem;
    width: 80px;
}

.navbar__list {
    flex-grow: 0.5;
    justify-self: flex-end;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20rem;
    margin: auto;
    gap: 2rem;
}

.navbar__item {
    list-style: none;
    transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
}

.navbar__link {
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--secondary-color);
}

.navbar__item:hover {
    color: var(--text-color);
    list-style: none;
    transform: translateY(-6px);
}

.navbar__link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

/* BUTTON STYLING */
/* inspired by https://uiverse.io/PriyanshuGupta28/brave-mole-100 */

.btn {
    position: relative;
    background: transparent;
    margin: 0.5rem 0;
    cursor: pointer;
    /*outline-offset: 4px;*/
    /*outline-color: deeppink;*/
    transition: filter 250ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn__shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: hsl(var(--primary-color));
    border-radius: 8px;
    filter: blur(2px);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn__edge {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(
            to right,
            hsl(30, 39%, 39%) 0%,
            hsl(23, 39%, 49%) 8%,
            hsl(25, 39%, 39%) 92%,
            hsl(27, 39%, 29%) 100%
    );
}

.btn__text {
    display: block;
    position: relative;
    border-radius: 8px;
    background: var(--primary-color);
    padding: 16px 32px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn > a {
    color: white;
    padding: 0;
    text-decoration: none;
}

/* BUTTON STATES */

.btn:hover {
    filter: brightness(110%);
}

.btn:hover .btn__text {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn:active .btn__text {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.btn:hover .btn__shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn:active .btn__shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.btn:focus:not(:focus-visible) {
    outline: none;
}

/* WRAPPER */
.wrapper {
    display: grid;
    grid-template-columns:
    1fr
    min(100ch, 100%)
    1fr;
    padding-bottom: 4rem; /* padding to avoid footer overlap */
}

.wrapper > * {
    grid-column: 2; /* this applies to everything inside main */
}

/* HERO SECTION */

#hero {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    gap: 10px;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 0.6fr 1.4fr;
    grid-template-areas:
        "heading img"
        "intro img"
        "social img";
}

.hero__heading {
    grid-area: heading;
    align-self: end;
    font-size: 3.4rem;
    width: fit-content;
    margin: 0 0 0.2rem 3rem;
}

.hero__heading > span {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;

    /* gradient text settings*/
    background-color: #c8cffd;
    background-image: linear-gradient(120deg, #edc99d 0%, #e45f1d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero__intro {
    grid-area: intro;
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0.2rem 0 0.2rem 5rem;
    width: 17ch;
    text-align: center;
}

.hero__img {
    grid-area: img;
    width: 500px;
    margin-bottom: 3rem;
    background: hsl(var(--primary-color));
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0.75rem -1rem 1.5rem rgba(243, 142, 31, 0.34));
}

.hero__social {
    grid-area: social;
    align-self: start;
    margin: 2rem 0 2rem 3rem;
}

.hero__social-link:hover {
    text-decoration: none;
}

.hero__social-link > svg {
    width: 45px;
    margin: 0 0.2rem;
    fill: var(--text-color);
}

/* ABOUT SECTION */
#about {
    width: 100%;
    height: 70vh;
    margin: 0 auto;
    padding: 2rem 5rem;
    display: flex;
    background-color: var(--secondary-color);
    border-radius: 3rem;
}

.section__heading {
    text-transform: uppercase;
    margin: 1rem 2rem;
}

/* ANIMATIONS */
@keyframes fadeIn {
    0% {
        transform: translate(0, 50px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translate(-50px, 0);
        color: transparent;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

/* FORM */
.contact-form__heading {
    text-transform: uppercase;
    font-size: 2rem;
}

.contact-form {
    max-width: 650px;
    margin: 0 auto 3.2rem auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    background-color: var(--secondary-color);
    border-radius: 30px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.25);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.required-indicator {
    color: var(--warning-red);
}

.contact-form__label {
    margin: 0.2rem 1rem 0 0.2rem;
    padding: 0.5rem 1rem 0.3rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.contact-form__input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: var(--background);
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 10px;
    color: var(--text-color);
    font-size: 0.9rem;
}

/*!* make the multiline input look like a textarea*/
/*can be removed once javascript is applied *!*/

/*.contact-form__input--multiline {*/
/*    height: 120px; !* Adjust height as needed *!*/
/*    resize: vertical; !* Allow vertical resizing *!*/
/*    white-space: pre-wrap; !* Preserve line breaks *!*/
/*    overflow-y: auto; !* Add scrollbar if content overflows *!*/
/*}*/

.contact-form__input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.contact-form__input:user-invalid {
    border: 1px solid var(--warning-red);
}

.error-message {
    color: var(--warning-red);
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: none; /* Hidden by default */
}

.contact-form__input:invalid + .error-message {
    display: block; /* Show error message for invalid inputs */
}

/* flash effect for errors */
.flash-error {
    animation: flash 0.5s ease-in-out;
}

@keyframes flash {
    0% { background-color: #ffcccc; }
    50% { background-color: #ff9999; }
    100% { background-color: #ffffff; }
}

.info-message {
    color: var(--accent-color);
    font-size: 0.875rem;
    margin-top: 0.1rem;
}

.contact-form > button {
    width: 30%;
    align-self: center;
    margin-top: 1rem;
}

/* CARD */
.card__container {
    margin-bottom: 2.2rem;
    justify-self: center;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.card__content {
    margin: 1.2rem 0.5rem;
    padding: 1rem;
    justify-self: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: var(--secondary-color);
    border-radius: 30px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.25);
}

.card__heading {
    align-self: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 500;
}

.card__body {
    margin: 0 0.5rem;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.2rem;
    text-align: justify;
}

.card__image {
    width: 60%;
    align-self: center;
    padding-bottom: 2rem;
}

.card__body--lg {
    font-size: 1.4rem;
    padding: 0 6rem;
    text-align: center;
}

/* HAMBURGER MENU STYLES */
#menu__toggle {
    display: none; /* hide the checkbox */
}

.menu__open, .menu__close {
    display: none; /* hide the icons */
    padding: 0 20px;
}

/* LIGHT DARK MODE - THEME TOGGLE */
#theme-toggle {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.light-icon {
    fill: var(--primary-color);
    display: none; /* hide the sun icon in light mode */
}

.dark-icon {
    fill: var(--primary-color);
}

.dark-mode .dark-icon {
    display: none; /* hide the moon icon in dark mode */
}

.dark-mode .light-icon {
    display: block; /* show the sun icon in dark mode */
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    /* HERO SECTION */
    #hero {
        grid-template-areas:
            "heading"
            "intro"
            "img"
            "social";
        justify-items: center;
        align-items: center;
        height: 100vh;
    }

    .hero__heading {
        font-size: 2.8rem;
        margin: 0 auto;
        padding-top: 5rem;
    }

    .hero__intro {
        font-size: 1.8rem;
        margin: 1rem auto;
    }

    .hero__img {
        min-width: 60%;
        max-width: 350px;
        margin: 0 auto;
    }

    .hero__social {
        margin: 0.2rem auto;
    }

    .hero__social-link > svg {
        width: 40px;
        margin: 0 0.5rem;
    }

    /* NAVBAR MENU */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar__logo {
        margin-left: 1.2rem;
        width: 55px;
    }

    .navbar__list {
        height: 100%;
        display: none; /* hidden by default */
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0;
        gap: 3rem;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 10; /* make sure the sidebar is on top */
        width: 300px;

        background-color: var(--background);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
    }

    .navbar__item {
        font-size: 1.2rem;
    }

    .menu__open, .menu__close {
        display: block;
    }

    .menu__close {
        margin-top: 1rem;
        padding: 0.4rem;
    }

    #menu__toggle:checked ~ .navbar__list {
        display: flex; /* show the sidebar */
    }

    /* FORM */
    .contact-form__heading {
        font-size: 1.8rem;
    }

    .contact-form {
        width: 80%;
        margin-bottom: 0.5rem;
    }

    .contact-form > button {
        width: 50%;
        align-self: center;
    }

    /* CARD */
    .card__heading {
        font-size: 1.7rem;
        text-align: center;
    }

    .card__body {
        font-size: 1.1rem;
    }

    .card__body--lg {
        font-size: 1.2rem;
        padding: 0 0.2rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .btn__text {
        padding: 12px 24px;
        font-size: 0.9rem;
    }
}
